@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* Common CSS style */
*{
   margin: 0;
   padding: 0;
   border: none;
   outline: 0;
   box-sizing: border-box;
   font-family: "Lato", sans-serif;
   overflow: hidden;
}

a{
   text-decoration: none;
}

ul li{
   list-style: none;
}

.container{
   padding: 0 5%;
   margin: 0 auto;
}

.para{
   font-weight: 400;
   color: rgb(39, 39, 39, 60%);
   font-size: 18px;
}

.btn{
   padding: 20px 43px;
   border-radius: 8px;
   background-color: #E55473;
   font-size: 20px;
   font-weight: 700;
   color: #ffffff;
}

/* Header part style */
.header{
   width: 100%;
   height: 100vh;
   background-color: rgba(229, 84, 155, 10%);
}

.banner_content{
   margin-top: 105px;
   width: 708px;
}

.banner_content h1{
   font-weight: 800;
   font-size: 80px;
   color: #272727;
}

.banner_content .para{
   width: 634px;
   margin: 32px 0;
}